{% load i18n admin_static %}
{% block branding %}
    <h4 class="bannerLeft"></h4>
    <h4 class="bannerRight"></h4>
    <h1 class="bannerTitle" id="site-name">{{ apptitle }}</h1>

    <!-- div class="user-tools" -->
    <div class="unitnav">
        {% include "cspace_django_site/loginBtn.html" with loginBtnNext="search/" %}
    </div>
    <div class="unitnav">
        {% for info in additionalInfo %}
            <a href="#" id="{{ info.slug }}" class="expandInfo">{{ info.name }}</a>
        {% endfor %}
        <a href="./">Switch Tool</a>
    </div>
{% endblock %}
