*.pyc
static_root
uploadmedia/postblob.sh
uploadmedia/*_Uploadmedia_*.cfg
db.sqlite3
logs/logfile.txt*
logs/settings.log
config/*.cfg
config/*.csv
config/*.xml
*.DS_Store
.idea
cspace_django_site/urls.py
cspace_django_site/secret_key.py
cspace_django_site/extra_settings.py
cspace_django_site/main.cfg
