Python>=2.7,<3.0
Django==1.7
Pillow==2.5.3
PyGreSQL==4.1.1
Pygments==1.6
django-extensions==1.5.2
django-filter==0.9.2
django-positions==0.5.2
django-tables2==0.15.0
django-tables2-reports==0.0.10
djangorestframework==2.4.5
itsdangerous==0.24
#numpy
psycopg2==2.6
#pysmb==1.1.17
requests==2.6.0
six
solrpy==0.9.6
wsgiref==0.1.2
