Python>=2.6.6,<=2.7
Django==1.5
Pillow==2.9.0
PyGreSQL==4.1.1
Pygments==2.0.2
django-extensions==1.6.1
django-filter==0.11.0
django-positions==0.5.3
django-tables2==1.0.7
django-tables2-reports==0.0.10
djangorestframework==3.3.2
itsdangerous==0.24
#numpy==1.10.4
psycopg2==2.6.1
#pysmb==1.1.17
requests==2.9.1
six==1.10.0
solrpy==0.9.7
