Python>=2.7,<3.0
Django>=1.5,<1.8
Pillow<3.0
PyGreSQL
Pygments
django-extensions
django-filter
django-positions
django-tables2
django-tables2-reports
djangorestframework
itsdangerous
#numpy
psycopg2
#pysmb
requests
six
solrpy
