{% extends "cspace_django_site/base_site.html" %}
{% load i18n admin_static %}
{% load staticfiles %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "common/css/theme.blue.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "cspace_django_site/css/smoothness/jquery-ui-1.10.3.custom.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "common/css/PublicSearch.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/' %}{{ device }}.css"/>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "cspace_django_site/js/jquery-1.10.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "cspace_django_site/js/jquery-ui-1.10.3.custom.min.js" %}"></script>
    <script type="text/javascript" src="{% static "common/js/PublicSearch.js" %}"></script>
    <script type="text/javascript">
        var googleAnalytics = {{ googleAnalytics }};
    </script>
    <script type="text/javascript" src="{% static "cspace_django_site/js/jquery.tablesorter.min.js" %}"></script>
    <!-- uses jQuery masonry http://masonry.desandro.com/-->
    <script src="{% static 'cspace_django_site/js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'cspace_django_site/js/imagesloaded.pkgd.min.js' %}"></script>
{% endblock %}

<!-- Overwrite default placement of login button, included below in branding block -->
{% block loginBtn %}{% endblock %}

{% block branding %}
    <h4 class="bannerLeft"></h4>
    <h4 class="bannerRight"></h4>
    <h1 class="bannerTitle" id="site-name">{{ apptitle }}</h1>

    <!-- div class="user-tools" -->
    <div class="unitnav">
        {% include "cspace_django_site/loginBtn.html" with loginBtnNext="search/" %}
    </div>
    <div class="unitnav">
        {% for info in additionalInfo %}
            <a href="#" id="{{ info.slug }}" class="expandInfo">{{ info.name }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    {% include "toggled.html" %}
    {% if error %}
        <p style="color: red;">Please submit a search term.</p>
    {% endif %}
    <form action="" method="get">
        <div style="text-align: center">
            <label for="text-input">&nbsp;</label>
            <input aria-labelledby="text-input" type="text" name="keyword" size="40" id="keyword" value="{{ keyword }}"><br/>
            <!-- input type="hidden" name="maxresults" value="{{ maxresults }}" -->
            <!-- input type="submit" name="submit" value="I'm feeling lucky" style="margin: 20px;" -->
            <input type="submit" name="submit" value="Search the Metadata" style="margin: 20px;">
            <input type="submit" name="submit" value="Search for Images" style="margin: 20px;">
        </div>
        {% for field in form.hidden_fields %}
            <div style="display:none;">{{ field }}</div>
        {% endfor %}

        <div>
            {% if errormsg %}
                <hr/>
                <span style="color: red">{{ errormsg }}</span>
            {% endif %}
            {% if count > 0 %}
                <hr/>
                {{ count }} items found. {{ recordlimit }}
                {% if time %}
                    (in {{ time }} seconds.)
                {% endif %}
                <hr/>
            {% elif keyword %}
                no items found.
            {% endif %}
        </div>
    </form>
    {% if resultType == 'metadata' %}
        {% include "compact.html" %}
    {% else %}
        {% include "masonrycontainer.html" %}
    {% endif %}
{% endblock %}
