{% load i18n admin_static %}

{% if user.is_active and user.is_staff %}
    {% block userlinks %}
            <a href="{% url 'landing:index' %}" class="expandInfo">All webapps</a>
            <span class="expandInfo">||</span>
            <img style="vertical-align: middle; height: 21px;  padding-left: 15px;"
                 src="{% static "cspace_django_site/images/usericon.jpg" %}"
                 title="{% filter force_escape %}{% firstof user.get_short_name user.get_username %}{% endfilter %}"/>
            <a href={% url 'logout' %}?next={% url 'landing:index' %} id="logout" class="expandInfo">{% trans 'Sign out' %}</a>
    {% endblock %}
{% else %}
    <a href="{% url 'landing:index' %}" class="expandInfo">All webapps</a>
    <span class="expandInfo">||</span>
    <a href="{% url 'login' %}?next={% url request.resolver_match.view_name %}" id="login" class="expandInfo">{% trans 'Sign in' %}</a>
    {% if request.resolver_match.namespace != 'landing' and request.resolver_match.namespace != '' %}
    {% endif %}
{% endif %}
