<div class="info">
    <h2>Terms of Use!</h2>
    <p>Use of any specimens or data accessed through the Phoebe A. Hearst Museum of Anthropology or the Hearst Museum
        website requires adherence to the terms and conditions in the following usage policy:
    </p>
    <ol style="padding-left: 20px;">
      <li>Data are intended for use in education and research and may not be reposted, repackaged, redistributed, or sold
        in any form. Links or references to Hearst Museum pages are encouraged.</li>
    <li>The quality and completeness of data cannot be guaranteed. Users employ these data at their own risk.</li>
    <li>The Phoebe A. Hearst Museum of Anthropology is not responsible for any misuse, misinterpretation, or unintended
        consequences of use of objects/data. The objects/data are provided "as-is" and no warranty is given or implied
        as to their accuracy, currency, completeness, or appropriateness for use. Data users are encouraged to
        personally verify data before use in critical applications.</li>
    <li>Where applicable, users shall respect restrictions of access to sensitive data.</li>
    <li>Data may be downloaded to files and altered in format for analytical purposes, however the data should be
        referenced using the suggested citations:<ul>
        <li>Citing the entire dataset: "Phoebe A. Hearst Museum of Anthropology (PAHMA), University of California,
            Berkeley. [link] (accessed on [date])."</li>
        <li>Citing a single PAHMA record: "PAHMA 1-12345, Phoebe A. Hearst Museum of Anthropology (PAHMA),
            University of California, Berkeley. [link] (accessed on [date])."</li></ul></li>
    <li>The Hearst Museum may update or make changes to the data provided at any time without notice. Questions
        concerning the data should be directed to Michael Black (mtblack@berkeley.edu).</li></ol>
</div>