# this is the config file for the batch component of the BMU
# the online portion (i.e. the webapp) is a Django webapp and is configured with
# those webapps in /usr/local/share/django
[info]
logo              = https://pahma.cspace.berkeley.edu/collectionspace/ui/pahma/images/logored100.png
schemacolor1      = #660000
# set the serverlabel value to indicate this .cfig file does NOT configure a webapp
serverlabel       = notawebapp
serverlabelcolor  = red
institution       = pahma
apptitle          = Bulk Upload Media Batch Component
updatetype        = bmu
updateactionlabel =

[connect]
connect_string    = host=dba-postgres-dev-42.ist.berkeley.edu port=5107 dbname=pahma_domain_pahma user=reporter_pahma sslmode=require 

realm             = org.collectionspace.services
hostname          = pahma.cspace.berkeley.edu
protocol          = https
port              = 


[files]
auditfile         = /home/app_webapps/cache/logs/webapp-audit.log
logfileprefix     = /home/app_webapps/cache/logs/webapp-audit
