<h3>Overriding values in the media files</h3>
<p>Sometimes you may want to insert values into the media metadata as the media are uploaded. For example, if want to
    insert a constant value into a field which would otherwise be empty or might contain an invalid value; or if you
    want to insert a placeholder into fields where you may have forgotten a value when you were creating the media.</p>
<ul>
    <li>If you select "Override always", the input value (even if it is blank!) will be inserted into the media record
    </li>
    <li>If you select "Override if blank", the input value (even if it is blank!) will be inserted in the media record
        if the value is not present in the image file or if that value is blank.
    </li>
    <li>Otherwise the value in the image file will be used; if no value is present and no override values are provided,
        the default value of blank will be used.
    </li>
</ul>

