{% extends "cspace_django_site/base_site.html" %}
{% load i18n admin_static %}
{% load staticfiles %}

{% block scripts %}
    <script type="text/javascript" src="{% static "cspace_django_site/js/jquery-1.10.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "cspace_django_site/js/jquery-ui-1.10.3.custom.min.js" %}"></script>
    <script type="text/javascript" src="{% static "cspace_django_site/js/jquery.tablesorter.min.js" %}"></script>
{% endblock %}

<!-- Overwrite default placement of login button, included below in branding block -->
{% block loginBtn %}{% endblock %}

{% block branding %}
    <h4 class="bannerLeft"></h4>
    <h4 class="bannerRight"></h4>
    <h1 class="bannerTitle" id="site-name">{{ apptitle }}</h1>

    <!-- div class="user-tools" -->
    <div class="unitnav">
        {% include "cspace_django_site/loginBtn.html" with loginBtnNext="showqueue/" %}
    </div>
    <div class="unitnav">
        {% for info in additionalInfo %}
            <a href="#" id="{{ info.slug }}" class="expandInfo">{{ info.name }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <div id="content-main">
        {% include "toggled.html" %}
            <form enctype="multipart/form-data" action="{% url 'uploadmedia:uploadfiles' %}" method="post">
                {% csrf_token %}
        <ol>
            <h2>
                <li>Select Files to Upload</li>
            </h2>

                {% if status == 'down' %}
                    <h2><span style="color:red">System is down, please standby!</span></h2>
                {% else %}
                    <input type="file" name="imagefiles" multiple>
                    <input type="checkbox" name="validateonly"> Validate files and filenames only, do not process.
                    <hr/>
                    {% if dropdowns.usebmuoptions %}
                        <h2>
                            <li>Specify how to handle these images</li>
                        </h2>
                        <table>
                            {% for imageoption in dropdowns.bmuoptions %}
                                <tr>
                                    <td><input type="radio" name="handling" value="{{ imageoption.1 }}"> {{ imageoption.0 }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                        <h2>
                            <li>Decide whether to publish these media or not</li>
                        </h2>
                    <table>
                        <tr>
                            <td><input type="checkbox" name="approvedforweb" checked> Check this box if you want these
                                media marked "Approved for Web"
                            </td>
                        </tr>
                    </table>
                    {% if dropdowns.allowintervention %}
                        <h2>
                            <li>Override values in image files, if desired</li>
                        </h2>
                        <table>
                            <tr>
                                <th>Field</th>
                                <th width="380px">Value</th>
                                <th>Override Conditions</th>
                            </tr>
                            {% for override in dropdowns.overrides %}
                            <tr>
                                <td>{{ override.0 }}</td>
                                <td>
                                    {% if override.1 == "dropdown" %}
                                    <select id="{{ override.2 }}" name="{{ override.2 }}">
                                        <option value="">Please select</option>
                                        {% for displayname,refname in override.4 %}
                                            <option value="{{ displayname }}">{{ displayname }}</option>
                                        {% endfor %}
                                    </select>
                                    {% elif override.1 == "text" %}
                                        <input type="text" style="width:360px" name="{{ override.2 }}" value="{{ override.3 }}">
                                    {% endif %}
                                </td>
                                <td>
                                    <select id="override{{ override.2 }}" name="override{{ override.2 }}">
                                        <option value="">No Action</option>
                                        {% for option in override_options %}
                                            <option value="{{ option.0 }}" {% if option.0 == 'ifblank' %} selected{% endif %}>
                                                {{ option.1 }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                    <h2>
                        <li>Select action to perform</li>
                    </h2>
                    <input type="submit" name="createmedia"
                           value="Upload to CSpace and Create Media Records NOW (100 media files max)">
                    <br/><br/>
                    <input type="submit" name="uploadmedia"
                           value="Upload to CSpace and Queue for LATER CSpace Ingestion"></td>
                    <!-- <input type="submit" name="deletemedia"
                                   value="DELETE CSpace Blob and Media records associated with these images">
                    -->

                    {% if images %}
                        {% include "images.html" %}
                    {% endif %}

                    {% if jobinfo %}
                        <hr/>
                        {% if jobinfo.status == 'uploadmedia' %}
                            <h2>Job {{ jobinfo.jobnumber }} enqueued; {{ count }} images.</h2>
                            <!-- h2>Job {{ jobinfo.jobnumber }} enqueued. Estimated time to
                            run: {{ jobinfo.estimatedtime }} minutes.</h2 -->
                        {% endif %}
                        {% if jobinfo.status == 'createmedia' %}
                            <h2>Job {{ jobinfo.jobnumber }} completed. Time required: {{ elapsedtime }} seconds.</h2>
                        {% endif %}
                    {% endif %}
                {% endif %}
        </ol>
            </form>
            <h2>
                Check on jobs and uploads
            </h2>
            <form action="{% url 'uploadmedia:showqueue' %}" method="post">
                {% csrf_token %}
                <input type="submit" name="checkjobs" value="View the Job Queue">
                <input type="submit" name="showerrors" value="List Images That Failed to Load">
                {% include "showerrors.html" %}
                {% include "showqueue.html" %}
            </form>
        <hr/>
        <!-- form action="{% url 'uploadmedia:checkfilename' %}" method="post">
            <h2>Check filename syntax</h2>
            {% csrf_token %}
            <button name="checkfilename">Filename(s) to check (separated by blanks):</button>
            <input type="text" name="filenames2check" style="width:500px;" value="{{ filenames2check }}">
            {% if objectnumbers %}
                <table>
                    <tr>
                        <th>filename</th>
                        <th>object number</th>
                        <th>image number</th>
                    </tr>
                    {% for o in objectnumbers %}
                        <tr>
                            <td>{{ o.0 }}</td>
                            <td>{{ o.1 }}</td>
                            <td>{{ o.2 }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </form -->
    </div>
{% endblock %}

{% block footer %}
    <table width="100%">
        <tbody>
        <tr>
            <td style="vertical-align: middle">Current time: {{ timestamp }}. This is the <span
                    style="color:{{ serverinfo.serverlabelcolor }}">{{ serverinfo.serverlabel }}</span> deployment of version <i>{{ version }}</i>.
            </td>
            <td style="vertical-align: middle;width: 70px;">powered by</td>
            <td style="text-align: right; width: 160px;"><img
                    src="{% static "cspace_django_site/images/header-logo-cspace.png" %}" height="30px"></td>
        </tr>
        </tbody>
    </table>
{% endblock %}
