
.cspaceLink { 
    height: 13px; 
    padding-left: 10px; 
    padding-right: 4px; 
    position: relative; 
    bottom: -2px;
}

.cspaceImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link, a:visited { color: #5b80b2; text-decoration: none; }
a:hover { color: #036; }
a { color: #5b80b2; text-decoration: none; }

.info { padding: 10px ; margin-bottom: 10px; margin-top: -4px; background-color: #fcfcfc; font-size: 14px; line-height: 1.4em}

.expandInfo {
    margin-left: 20px;
    display: inline;
}
