# this is the config file for the batch component of the BMU
# the online portion (i.e. the webapp) is a Django webapp and is configured with
# those webapps in /usr/local/share/django
[info]
logo              = https://nightly.collectionspace.org/collectionspace/ui/core/images/header-logo.png
schemacolor1      = #660000
# set the serverlabel value to indicate this .cfig file does NOT configure a webapp
serverlabel       = notawebapp
serverlabelcolor  = green
institution       = core
apptitle          = Bulk Upload Media Batch Component
updatetype        = bmu
updateactionlabel =

[connect]
# password is configured in .pgpass, but if you wanted, you could configure it here.
connect_string    = host=dba-postgres-prod-32.ist.berkeley.edu port=5307 dbname=core_domain_core user=reporter_core sslmode=require

realm             = org.collectionspace.services
hostname          = nightly.collectionspace.org
protocol          = https
port              = 


[files]
auditfile         = /tmp/sysinvlog-test.csv
logfileprefix     = /tmp/sysinvlog
